




#signinButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

#back-btn {
    position: absolute; 
    top: 5px;
    left: 5px;
}

#user-img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#signoutButton {
    position: absolute;
    top: 5px;
    right: 5px;
}
