{% extends 'base.html' %}

{% block body %}
<a id="back-btn" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-home"></span></a>
<div class="container" style="margin-top:28px">
    <div class="row text-center">
        <h1 data-bind="text: restaurant.name"></h1>
    </div>
        <br>
    <div class="row">
        <div class="col-md-3 text-center" style="font-size: 28px">
            <strong data-bind="text: restaurant.phone"></strong>
        </div>
        <div class="col-md-5 col-md-offset-4 text-center" data-bind="visible: user.username">
            <a class="btn btn-primary text-uppercase" href="{{ url_for('new_item', restaurant_id=restaurant.id) }}">Add new item</a>
            <a class="btn btn-warning text-uppercase" data-bind="click: delete_restaurant">Delete Restaurant</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tbody data-bind="foreach: food_list">
                <tr>
                    <td style="width: 30%">
                        <div class="row">
                            <div class="col-md-6">
                                <strong data-bind="text: name"></strong>
                            </div>
                            <div class="col-md-6 btn-group">
                                <button type="button" class="btn btn-sm" data-bind="css: {'btn-warning': rating() == 1}, click: $parent.set_rating.bind($data, 1), enable: $parent.user.username"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><br><span class="badge" data-bind="text: tally[1]()"></span></button>
                                <button type="button" class="btn btn-sm" data-bind="css: {'btn-success': rating() == 2}, click: $parent.set_rating.bind($data, 2), enable: $parent.user.username"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br><span class="badge" data-bind="text: tally[2]()"></span></button>
                                <button type="button" class="btn btn-sm" data-bind="css: {'btn-danger': rating() == 3}, click: $parent.set_rating.bind($data, 3), enable: $parent.user.username"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><br><span class="badge" data-bind="text: tally[3]()"></span></button>
                            </div>
                        </div>
                    </td>
                    <td data-bind="text: description"></td>
                    <td>$<span data-bind="text: price"></span></td>
                    <td data-bind="visible: $parent.user.username">
                        <button type="button" class="btn btn-primary" data-bind="click: $parent.edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script>
var view_model = view_model || {};
view_model.restaurant = {{ restaurant|tojson }};

/**
 * Send a AJAX request to delete the current restaurant.
 */
view_model.delete_restaurant = function() {
    var c = confirm("Are you sure you want to delete this restaurant"
                    + " and all menu items?");
    if (c) {
        var params = {id: view_model.restaurant.id};
        post('/delete/restaurant', params, function(response) {
            // Go to list of restaurants.
            if (response.status == 'ok') {
                window.location = response.url;
            }
        });
    }
};

/**
 * Save a rating change to the database.
 * @param {Number} rating The new menu item rating.
 */
view_model.set_rating = function(rating) {
    // Store old rating temporarilly
    var old_rating = this.rating();
    var line_item = this;
    if (old_rating != rating) {
        this.rating(rating);
        // Adjust the rating counters (immediately for responsiveness).
        line_item.tally[rating](line_item.tally[rating]() + 1);
        line_item.tally[old_rating](line_item.tally[old_rating]() - 1);
        var params = {
            item_id: this.id,
            rating: rating
        };
        post('/save/rating', params, function(response) {
            if (response.status != 'ok') {
                line_item.rating(old_rating);
                // Return the rating counter to previous setting.
                line_item.tally[rating](line_item.tally[rating]() - 1);
                line_item.tally[old_rating](line_item.tally[old_rating]() + 1);
            }
        });
    }
};

/**
 * Go to the editing page.
 * @param {Object} menu_item Menu item object data from list.
 */
view_model.edit = function(menu_item) {
    window.location = [
        "{{ url_for('new_item', restaurant_id=restaurant.id) }}?",
        "id=" + menu_item.id,
        "&rating=" + menu_item.rating()
    ].join('');
};

/**
 * Send an AJAX request for item data and add to food_list array for display.
 */
view_model.get_items = function() {
    post('/get/items', {id: view_model.restaurant.id}, function(response) {
        view_model.food_list.removeAll();
        for (var i=0; i<response.items.length; i++) {
            var item = response.items[i];
            item.rating = ko.observable(item.rating);
            item.tally = [ko.observable(0),
                          ko.observable(item.favorite_count),
                          ko.observable(item.good_count),
                          ko.observable(item.bad_count)]
            view_model.food_list.push(item);
        }
    });
}
view_model.food_list = ko.observableArray();
view_model.get_items();
</script>

{% endblock %}
