{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top:50px">
    <div>
        <h1 data-bind="text: restaurant.name"></h1>
        <h3>Enter a new menu item below.</h3>
        <div data-bind="with: current_item">
            <div class="form-group">
                <label>Item Name</label>
                <input type="text" class="form-control" data-bind="textInput: name">
            </div>
            <div class="form-group">
                <label>Course Type</label>
                <input type="text" class="form-control" data-bind="textInput: course">
            </div>
            <div class="form-group">
                <label>Item Description</label>
                <input type="text" class="form-control" data-bind="textInput: description">
            </div>
            <div class="form-group">
                <label>Item Price</label>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" class="form-control" data-bind="textInput: price">
                </div>
            </div>
            <div class="form-group">
                <label>Item Rating</label>
                <br>
                <div class="btn-group">
                    <button type="button" class="btn" data-bind="css: {'btn-warning': rating() == 1}, click: function() {rating(1)}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Love it!</button>
                    <button type="button" class="btn" data-bind="css: {'btn-success': rating() == 2}, click: function() {rating(2)}"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Good</button>
                    <button type="button" class="btn" data-bind="css: {'btn-danger': rating() == 3}, click: function() {rating(3)}"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Never again!</button>
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-success text-uppercase" data-bind="click: save">Save new item</button>
        <a class="btn btn-danger text-uppercase" href="/menu/{{restaurant.id}}">Cancel new item</a>
    </div>
</div>

<script>
var view_model = view_model || {};
view_model.restaurant = {{ restaurant|tojson }};

/**
 * KO observable model for new item.
 */
view_model.current_item = {
    name: ko.observable(),
    description: ko.observable(),
    price: ko.observable(),
    course: ko.observable(),
    rating: ko.observable(),
    restaurant_id: view_model.restaurant.id,
};

/**
 * Send an AJAX request for item data and add to food_list array for display.
 */
view_model.save = function() {
    // Convert current_item KO model to serializable object.
    var params = ko.toJS(view_model.current_item); 
    post('/save/item', params, function(response) {
        // Go to restaurant menu view if successful.
        if (response.status == 200) {
            window.location = 
                "{{ url_for('restaurant_view', restaurant_id=restaurant.id) }}";
        } else {
            console.log(response.status);
            alert('There was a problem saving the new item to the database.');
        }
    });
}
</script>

{% endblock %}